<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="MoviesDeleteCommand" value="DELETE FROM [movies] WHERE [movie_id] = @movie_id"/>
        <add key="MoviesInsertCommand" value="INSERT INTO [movies] ([title], [release_date]) VALUES (@title, @release_date)"/>
        <add key="MoviesSelectCommand" value="SELECT [movie_id], [title], [release_date] FROM [movies]"/>
        <add key="MoviesUpdateCommand" value="UPDATE [movies] SET [title] = @title, [release_date] = @release_date WHERE 
             [movie_id] = @movie_id"/>
    </appSettings>
    <connectionStrings>
        <add name="conString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\easp.mdf;
             Integrated Security=true; User Instance=True;" providerName="System.Data.SqlClient"/>
        <remove name="LocalSqlServer"/>
        <add name="LocalSqlServer" connectionString="Server=.;Database=aspnetdb; user id=sa; password=god;"/>
    </connectionStrings>
    <location path="Pages/Chapter3.aspx" allowOverride="true">
        <system.web>
            <identity impersonate="true" userName="Vikram" password="manav"/>
        </system.web>
    </location>   
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <pages clientIDMode="Static" masterPageFile="~/Template/Main.master"/>
        <anonymousIdentification enabled="true"/>
        <profile enabled="true">
            <properties>
                <add name="FavoriteColor" type="System.String" defaultValue="blue" allowAnonymous="true"/>
                <add name="FavoriteNumber" type="System.Int32" defaultValue="42" allowAnonymous="true"/>
                <add name="FavoriteHttpStatusCode" type="System.Net.HttpStatusCode" defaultValue="OK" allowAnonymous="true"
                     serializeAs="String"/>
            </properties>
        </profile>
        <authentication mode="Forms">
            <forms defaultUrl="CodeLab/Chapter5/Default.aspx" loginUrl="Pages/Login.aspx"/>
        </authentication>
    </system.web>
    <location path="CodeLab/Chapter5/Default.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>    
        </system.web>
    </location>
</configuration>
